.center {
  height: 215px;
  display: flex;
  align-items: center;
  justify-content: center;

  --size: 80px;
  --gradient-from: #f9fafb;
  --gradient-to: #e5e7eb;
  --border-radius: 12px;
  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );
}

.content {
  height: 215px;
  display: flex;
  align-items: center;
  justify-content: center;

  --size: 80px;
  --gradient-from: #f9fafb;
  --gradient-to: #e5e7eb;
  --border-radius: 12px;
  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );
}

/* EXAMPLE 1 */
.exampleOne__animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  border-radius: var(--border-radius);
  border: 1px solid red;
}

/* EXAMPlE 2 */
.exampleTwo__animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  transform: translateZ(0);
  height: var(--size);
  border-radius: var(--border-radius);
}

.exampleTwo__animation::before,
.exampleTwo__animation::after {
  content: '';
  position: absolute;
  z-index: -1;
}

.exampleTwo__animation::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    var(--gradient-from),
    var(--gradient-to)
  );
  background-clip: content-box;
}

/* EXAMPlE 3 */
.exampleThree__animation {
  display: flex;
  justify-content: center;
  /* Add margin so gradient without overflow-hidden doesn't overlap with other elements. */
  margin: var(--size) 0;
  align-items: center;
  width: var(--size);
  transform: translateZ(0);
  height: var(--size);
  border-radius: var(--border-radius);
}

.exampleThree__animation::before,
.exampleThree__animation::after {
  content: '';
  position: absolute;
  z-index: -1;
}

.exampleThree__animation::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    var(--gradient-from),
    var(--gradient-to)
  );
  background-clip: content-box;
}

.exampleThree__animation::before {
  width: 200%;
  height: 200%;
  animation: 6s rotate linear infinite;
  background: var(--tile-border);
}

/* FINAL EXAMPLE */
.final__animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.final__animation::before,
.final__animation::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Inner square */
.final__animation::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    var(--gradient-from),
    var(--gradient-to)
  );
  background-clip: content-box;
}

/* Animation */
.final__animation::before {
  width: 200%;
  height: 200%;
  animation: 6s rotate linear infinite;
  background: var(--tile-border);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
