---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Connor Littleton | Blog Posts">
  <main>Blogs page</main>
</Layout>

<style>
  main {
    margin: auto;
    max-width: var(--max-width);
    padding-top: 1rem;

    /* Remove me once content is filled in */
    min-height: 800px;
  }
</style>
