---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Connor Littleton">
  <main>This is my blog page</main>
</Layout>

<style>
  main {
    max-width: var(--max-width);
    margin-inline: auto;
    margin-top: 3rem;
  }
</style>
