---
import { Image } from "astro:assets";
import Avatar from "../../public/me.jpeg";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Connor Littleton">
  <main class="container mx-auto max-w-[calc(64rem-32px)] px-4 py-14">
    <div class="grid w-full gap-12 md:grid-cols-2">
      <div class="h-auto overflow-hidden">
        <Image
          class="aspect-[16/9] h-full w-full rounded-2xl object-cover"
          src={Avatar}
          alt="Connor Littleton"
        />
      </div>
      <div class="mx-auto max-w-xl space-y-6 py-9 md:mx-0">
        <h1 class="text-4xl font-bold md:text-5xl">Hello There.</h1>
        <p>
          I'm <strong>Connor</strong> a Software engineer currently working on
          the design system team
          <a class="font-medium underline" href="https://www.wealthfront.com"
            >Wealthfront</a
          >.
        </p>
        <p>
          In addition to my passion for programming, I enjoy exploring new
          breweries and maintaining an active lifestyle through regular
          workouts.
        </p>
        <section class="pt-6">
          <h2
            class="text-sm font-medium uppercase tracking-wider text-neutral-600"
          >
            Featured Posts
          </h2>
          <ol class="mt-3 space-y-4">
            <li>
              <article class="group">
                <h2 class="text-lg font-semibold hover:underline">
                  <a href="/blog/monorepo">Monorepos</a>
                </h2>
                  <div class="flex flex-col gap-1.5">
                    <p class="text-slate-600 text-sm">
                      All about the benefits monorepo's can bring to your
                      company.
                    </p>
                    <dl class="text-xs text-slate-600 flex gap-1 items-center">
                      <dt>
                        <svg
                          fill="none"
                          viewBox="0 0 24 24"
                          class="h-[1.25em] w-[1.25em]"
                          astro-icon="clock"
                          ><circle
                            cx="12"
                            cy="12"
                            r="7.25"
                            stroke="currentColor"
                            stroke-width="1.5"></circle><path
                            stroke="currentColor"
                            stroke-width="1.5"
                            d="M12 8v4l2 2"></path></svg
                        >
                      </dt>
                      <dd>
                        <time datetime="2023-09-14"> 14 Sep 2021</time>
                      </dd>
                    </dl>
                  </div>
              </article>
            </li>
            <li>
              <article>
                <h2 class="text-lg font-semibold hover:underline">
                  <a href="/blog/monorepo">Jest Memory Issues</a>
                </h2>
                  <div class="flex flex-col gap-1.5">
                    <p class="text-slate-600 text-sm">
                      Some useful tips and tricks to debugging memory issues in Jest.
                    </p>
                    <dl class="text-xs text-slate-600 flex gap-1 items-center">
                      <dt>
                        <svg
                          fill="none"
                          viewBox="0 0 24 24"
                          class="h-[1.25em] w-[1.25em]"
                          astro-icon="clock"
                          ><circle
                            cx="12"
                            cy="12"
                            r="7.25"
                            stroke="currentColor"
                            stroke-width="1.5"></circle><path
                            stroke="currentColor"
                            stroke-width="1.5"
                            d="M12 8v4l2 2"></path></svg
                        >
                      </dt>
                      <dd>
                        <time datetime="2023-09-14"> 14 Sep 2021</time>
                      </dd>
                    </dl>
                  </div>
              </article>
            </li>
            <li>
              <article>
                <h2 class="text-lg font-semibold hover:underline">
                  <a href="/blog/cdn">Content Deliver Networks</a>
                </h2>
                  <div class="flex flex-col gap-1.5">
                    <p class="text-slate-600 text-sm">
                      The importance of CDNs and how they can help your site.
                    </p>
                    <dl class="text-xs text-slate-600 flex gap-1 items-center">
                      <dt>
                        <svg
                          fill="none"
                          viewBox="0 0 24 24"
                          class="h-[1.25em] w-[1.25em]"
                          astro-icon="clock"
                          ><circle
                            cx="12"
                            cy="12"
                            r="7.25"
                            stroke="currentColor"
                            stroke-width="1.5"></circle><path
                            stroke="currentColor"
                            stroke-width="1.5"
                            d="M12 8v4l2 2"></path></svg
                        >
                      </dt>
                      <dd>
                        <time datetime="2023-09-14"> 14 Sep 2021</time>
                      </dd>
                    </dl>
                  </div>
              </article>
            </li>
          </ol>
        </section>
        <section class="pt-10">
          <h2
            class="text-sm font-medium uppercase tracking-wider text-slate-600"
          >
            Work
          </h2>
          <ul
            class="mt-3 list-disc space-y-4 text-slate-900 dark:text-slate-200"
          >
            <li class="list-none">
              <a
                class="group flex w-full items-center space-x-2"
                href="https://www.wealthfront.com"
                target="_blank"
              >
                <strong class="flex-none font-medium group-hover:underline"
                  >Wealthfront</strong
                >
                <span
                  class="w-full shrink border-t border-dashed border-slate-300 dark:border-gray-800"
                ></span>
                <span class="flex-none">Software Engineer</span>
                <span class="flex-none text-sm text-slate-600"
                  >2021—&nbsp;&nbsp;</span
                >
              </a>
            </li>
            <li class="list-none">
              <a
                class="group flex w-full items-center space-x-2"
                href="https://www.ciena.com/"
                target="_blank"
              >
                <strong class="flex-none font-medium group-hover:underline"
                  >Ciena</strong
                >
                <span
                  class="w-full shrink border-t border-dashed border-slate-300 dark:border-gray-800"
                ></span>
                <span class="flex-none">Fullstack Software Engineer</span>
                <span class="flex-none text-sm text-slate-600"
                  >2019—&nbsp;&nbsp;</span
                >
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </main>
</Layout>
