---
import Layout from "../layouts/Layout.astro";
import { projects } from "../lib/utils";
---

<Layout root={true} title="Connor Littleton">
  <main class="">
    <span class="mb-5 block font-semibold sm:mb-6">Today</span>
    <p class="text-[#63635e]">
      Hi, I'm Connor. I'm a Web Engineer on Wealthfront’s Investing Products
      team and lead the on-call team for our Web team. I've worked across
      several teams at the company, including serving as the engineering lead
      for the Design System team and our growth team. I'm passionate about
      learning new things and always eager to take on new challenges.
    </p>
    <div class="-mb-3 mt-16 sm:mt-32">
      <span class="mb-5 block font-semibold sm:mb-4">Blog</span>
      <div class="flex flex-col gap-7 sm:gap-4">
        <a
          href="/blog/monorepos"
          class="-mx-3 flex flex-col rounded-md px-3 no-underline hover:bg-[#e7e6e6] dark:hover:bg-gray-200 sm:py-3"
        >
          <span>Navigating the Monorepo tooling landscape</span>
          <span class="text-[#63637D]"
            >A practical guide to migrating to modern monorepo tooling.</span
          >
        </a>
        <a
          href="/blog/personal-framework"
          class="-mx-3 flex flex-col rounded-md px-3 no-underline hover:bg-[#e7e6e6] dark:hover:bg-gray-200 sm:py-3"
        >
          <span>Personal Framework</span>
          <span class="text-[#63637D]"
            >My personal framework to ensure a strong work / life balance.</span
          >
        </a>
        <a
          href="/blog"
          class="-mx-3 flex flex-col rounded-md px-3 no-underline w-fit hover:underline sm:py-3"
        >
          <span>See all</span>
        </a>
      </div>
    </div>
    <div class="-mb-3 mt-16 sm:mt-32">
      <span class="mb-5 block font-semibold sm:mb-4">Projects</span>
      <ul class="flex flex-col gap-7 sm:gap-4">
        {
          projects.map((project) => (
            <li>
              <article>
                <a
                  href={project.href}
                  target="_blank"
                  class="-mx-3 flex flex-col rounded-md px-3 no-underline hover:bg-[#e7e6e6] dark:hover:bg-gray-200 sm:py-3"
                >
                  <span>{project.name}</span>
                  <span class="text-[#63637D]">{project.description}</span>
                </a>
              </article>
            </li>
          ))
        }
        <a
          href="/projects"
          class="-mx-3 flex flex-col rounded-md px-3 no-underline w-fit hover:underline sm:py-3"
        >
          <span>See all</span>
        </a>
      </ul>
    </div>
  </main>
</Layout>
