---
const navLinks = [
  {
    label: "Blog",
    url: "/blog",
  },
  {
    label: "Github",
    url: "https://github.com/Littletonconnor",
  },
  {
    label: "LinkedIn",
    url: "https://www.linkedin.com/in/connor-littleton-31bb43135/",
  },
  {
    label: "Resume",
    url: "/resume.pdf",
  },
];

const today = new Date().getFullYear();
---

<footer class="w-full border-t border-slate-300">
  <div
    class="mx-auto flex max-w-2xl flex-col items-baseline justify-between space-y-2 px-3 py-4 md:flex-row"
  >
    <span class="flex space-x-1"
      ><span
        >©
        {today}
        {" "}Connor Littleton
      </span>
    </span>
    <ul class="flex gap-4">
      {
        navLinks.map((link) => (
          <li>
            <a
              class="text-slate-600 decoration-slate-500 font-medium hover:underline underline-offset-2"
              href={link.url}
            >
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
