---
const today = new Date().getFullYear();
---

<footer class="w-full border-t border-slate-300">
  <div
    class="mx-auto flex max-w-[calc(64rem-32px)] flex-col items-center justify-between px-3 py-4 md:flex-row"
  >
    <span class="flex space-x-1 px-3 text-sm"
      ><span
        >©
        {today}
        {" "}Connor Littleton
      </span>
    </span>
    <ul class="flex gap-4">
      <li>
        <a
          class="text-slate-600 decoration-blue-500 font-medium hover:underline underline-offset-2"
          href="https://github.com/Littletonconnor">Github</a
        >
      </li>
      <li>
        <a
          class="text-slate-600 decoration-blue-500 font-medium hover:underline underline-offset-2"
          href="https://www.linkedin.com/in/connor-littleton-31bb43135/"
          >LinkedIn</a
        >
      </li>
      <li>
        <a
          class="text-slate-600 decoration-blue-500 font-medium hover:underline underline-offset-2"
          href="mailto:'littletonconnor@gmail.com'">Email</a
        >
      </li>
      <li>
        <a
          class="text-slate-600 decoration-blue-500 font-medium hover:underline underline-offset-2"
          href="">Resume</a
        >
      </li>
    </ul>
  </div>
</footer>
