---

---

<footer>
  <div>
    <ul>
      <li>
        <a href="">Github</a>
      </li>
      <li>
        <a href="">LinkedIn</a>
      </li>
      <li>
        <a href="">Email</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="">Github</a>
      </li>
      <li>
        <a href="">LinkedIn</a>
      </li>
      <li>
        <a href="">Email</a>
      </li>
    </ul>
  </div>
</footer>

<style>
  footer {
    max-width: var(--max-width);
    margin: auto;
  }

  footer > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-top: 1px solid #e4e4e7;
  }

  ul {
    display: flex;
    gap: 1rem;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
