---

---

<header class="mx-auto border-b border-slate-300 px-4 py-3 text-slate-800">
  <div class="w-full mx-auto flex max-w-2xl items-baseline justify-between">
    <a
      class="hover:underline decoration-blue-500 underline-offset-2 text-xl font-semibold"
      style="text-decoration-color: #3b82f6;"
      href="/">Connor Littleton</a
    >
    <nav class="hidden md:block">
      <ul class="flex gap-5">
        <li>
          <a
            class="flex items-center gap-1 font-bold hover:underline decoration-blue-500 underline-offset-2"
            style="text-decoration-color: #3b82f6;"
            href="/blog"
          >
            <svg
              class="h-[1.25em] w-[1.25em]"
              fill="none"
              viewBox="0 0 24 24"
              astro-icon="notebook"
              ><path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M16.25 18.25h-8.5a2 2 0 0 1-2-2v-9.5a2 2 0 0 1 2-2h8.5a2 2 0 0 1 2 2v9.5a2 2 0 0 1-2 2ZM14.25 8.75h-.5M14.25 11.75h-.5M9.75 4.75v14.5"
              ></path></svg
            >
             Blog</a
          >
        </li>
        <li>
          <a
            class="flex items-center gap-1 font-bold hover:underline decoration-blue-500 underline-offset-2"
            style="text-decoration-color: #3b82f6;"
            href="/recipes"
          >
            <svg
              class="h-[1.25em] w-[1.25em]"
              fill="none"
              viewBox="0 0 24 24"
              astro-icon="multiple-folders"
              ><path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M4.75 10.75v6.5a2 2 0 0 0 2 2h7.5a2 2 0 0 0 2-2v-4.5a2 2 0 0 0-2-2h-9.5Zm0 0v-1a2 2 0 0 1 2-2h3.063a2 2 0 0 1 1.755 1.042l1.073 1.958m-4.891-3v-1a2 2 0 0 1 2-2h3.063a2 2 0 0 1 1.755 1.042l1.073 1.958h1.609a2 2 0 0 1 2 2v4.5a2 2 0 0 1-2 2h-1"
              ></path></svg
            >
             Recipes</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  a:hover {
    text-decoration: underline;
  }
</style>
