---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Connor Littleton">
  <main>
    <h1>Projects</h1>
    <article>
      <p>Some of my favorite projects I have worked on over the years.</p>
      <ol>
        <li>
          <article>
            <h2>
              <a target="_blank" href="https://github.com/Littletonconnor/ui"
                >ui</a
              >
            </h2>
            <p>An accessible design system</p>
          </article>
        </li>
        <li>
          <article>
            <h2>
              <a
                target="_blank"
                href="https://github.com/Littletonconnor/connorlittleton.api"
                >connorlittleton.api</a
              >
            </h2>
            <p>A JSONPlaceholder like api</p>
          </article>
        </li>
        <li>
          <article>
            <h2>
              <a
                target="_blank"
                href="https://github.com/Littletonconnor/cwl-monorepo"
                >cwl-monoorepo</a
              >
            </h2>
            <p>My go-to monorepo starter pack</p>
          </article>
        </li>
      </ol>
    </article>
  </main>
</Layout>

<style>
  main {
    max-width: var(--max-width);
    margin-inline: auto;
    margin-top: 3rem;

    /* Remove me once content is filled in */
    min-height: 800px;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  ol {
    padding: 0;
    margin-top: 1.5rem;
  }

  a {
    color: var(--primary);
  }

  p {
    color: #52525b;
  }

  li:not(:first-child) {
    margin-top: 1rem;
  }
</style>
